name: S3 Upload

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Create S3 bucket if needed
        run: |
          aws s3api head-bucket --bucket "${{ secrets.AWS_S3_BUCKET }}" 2>/dev/null || \
          aws s3api create-bucket \
            --bucket "${{ secrets.AWS_S3_BUCKET }}" \
            --region us-east-1

      - name: Upload repo files to S3 with instance role
        run: |
          aws s3 sync ./ "s3://${{ secrets.AWS_S3_BUCKET }}" \
            --region us-east-1 \
            --exclude ".git*/*"


#   AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
#   AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#   AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
